.house-area {
    position: relative;
    overflow: hidden;
    background-image: url("../../Assets/Images/sky.jpg");
    background-size: cover;
    background-position: 50% 68%;
}

.barn {
    margin: 44px auto;
    position: relative;
    z-index: 1;
}

.land {
    background-color: var(--mantine-color-teal-8);
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 0;
}

.cloud {
    background-image: url(/src/Assets/Other/cloud.png);
    background-size: cover;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 5px;
    animation: linear infinite;
    animation-name: moveFromLeft;
    animation-duration: 1800s;
}

.cloud2 {
    background-image: url(/src/Assets/Other/clouds.png);
    background-size: cover;
    width: 95px;
    height: 95px;
    position: absolute;
    top: 22px;
    animation: linear infinite;
    animation-name: moveFromRight;
    animation-duration: 1200s;
}

.tractor {
    background-image: url(/src/Assets/Other/tractor.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    position: absolute;
    right: calc(50% - 110px - 55px);
    bottom: 25px;
}

.hay {
    background-image: url("../../Assets/Other/hay.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    right: calc(50% + 81px);
    bottom: 39px;
}

.tree {
    background-image: url(/src/Assets/Other/tree2.png);
    background-size: cover;
    width: 120px;
    height: 115px;
    position: absolute;
    right: calc(50% + 28px);
    bottom: 42px;
}

.tree-front-1 {
    background-image: url(/src/Assets/Other/tree.png);
    background-size: cover;
    width: 252px;
    height: 252px;
    position: absolute;
    bottom: -15px;
    left: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-front-2 {
    background-image: url(/src/Assets/Other/tree3.png);
    background-size: cover;
    width: 252px;
    height: 252px;
    position: absolute;
    bottom: -15px;
    right: -94px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tree-front-2 > div {
    margin-left: 65px;
}

.bush {
    background-image: url(/src/Assets/Other/bush.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -32px;
    left: -20px;
}

.hay-slot {
    width: 74px;
    height: 74px;
    position: absolute;
    right: calc(50% + 81px + 88px);
    bottom: 20px;
}

.tractor-slot {
    width: 74px;
    height: 74px;
    position: absolute;
    left: calc(50% + 81px + 128px);
    bottom: 20px;
}

@keyframes moveFromLeft {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes moveFromRight {
    0% {
        right: 0;
    }

    50% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}
