.slot {
    position: relative;
    background: rgb(59, 59, 59, 0.5);
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid rgba(255, 255, 255, 0.25);
}

.slot:hover {
    background: rgb(59, 59, 59, 0.7);
    transition: 0.3s;
}
