.slot {
    position: relative;
    background: rgb(59, 59, 59, 0.6);
    backdrop-filter: blur(8px);
    cursor: pointer;
    transition: 0.3s;
}

.slot:hover {
    background: rgb(59, 59, 59, 0.7);
    transition: 0.3s;
}
