.slot {
    position: relative;
    background: rgb(59, 59, 59, 0.6);
    backdrop-filter: blur(8px);
    cursor: pointer;
    transition: 0.3s;
}

.slot:hover {
    background: rgb(59, 59, 59, 0.7);
    transition: 0.3s;
}

.item-btn {
    &:first-of-type {
        margin-top: var(--mantine-spacing-sm);
    }

    &:last-of-type {
        margin-bottom: var(--mantine-spacing-sm);
    }
}

.item-btn:disabled .item-img {
    opacity: 0.3;
}
