.garden-area {
    margin-bottom: var(--mantine-spacing-xs);
}

.left-section {
    position: relative;
    width: 100%;
}

.middle-section {
    position: relative;
    min-width: 470px;
}

.scarecrow {
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 55px);
    pointer-events: none;
}

.shovel {
    pointer-events: none;
    position: absolute;
    bottom: -20px;
    right: -35px;
}

.garden-slot {
    background: url("../../Assets/Other/sprout.png");
    background-size: cover;
    border-radius: var(--mantine-radius-md);
}

.right-section {
    position: relative;
    width: 100%;
}

.bush2 {
    position: absolute;
    height: 90px;
    width: 90px;
    background: url("../../Assets/Other/bush2.png");
    background-position: center;
    background-size: cover;
    left: -70px;
    top: -11px;
}

.marsh {
    position: absolute;
    left: -178px;
    bottom: -65px;
    pointer-events: none;
}

.marsh-slot1 {
    position: absolute;
    bottom: 55px;
    left: 4px;
}

.marsh-slot2 {
    position: absolute;
    bottom: -2px;
    left: 91px;
}

.reeds {
    position: absolute;
    bottom: 128px;
    left: 75px;
    pointer-events: none;
}

.reed2 {
    position: absolute;
    bottom: -40px;
    left: -60px;
    pointer-events: none;
    transform: scaleX(-1);
}

.branches {
    position: absolute;
    width: 110px;
    height: 110px;
    right: -14px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch1 {
    position: absolute;
    transform: rotate(45deg);
}

.branch2 {
    position: absolute;
    transform: rotate(45deg);
    top: -61px;
    right: -77px;
}

.branch-slot {
    width: fit-content;
    margin-bottom: 10px;
}

.bottom-area {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 70px;
    padding-right: 6px;
}

.bush3 {
    position: absolute;
    right: -34px;
    top: 128px;
}

.fountain {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 75px);
}
