.root[data-variant="separated"] .item {
    margin-top: var(--mantine-spacing-xs);
    box-shadow: var(--mantine-shadow-sm);
    border-radius: var(--mantine-radius-md);

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 15px;
    }
}

.item {
    background-color: var(--mantine-color-dark-6);
    border: 0;

    &[data-active] {
        background-color: var(--mantine-color-dark-6);
    }
}
