.root[data-variant="separated"] .item {
    margin-top: var(--mantine-spacing-xs);
    box-shadow: var(--mantine-shadow-sm);

    &:first-of-type {
        margin-top: 0;
    }
}

.item {
    background-color: var(--mantine-color-dark-6);

    &[data-active] {
        background-color: var(--mantine-color-dark-6);
        border: 1px solid transparent;
    }
}
