.input {
    &:focus {
        --input-bd: teal;
    }

    &:focus-within {
        --input-bd: teal;
    }
}

.label {
    font-size: var(--mantine-font-size-sm);
    opacity: 0.7;
}

.button {
    &:disabled,
    &[data-disabled] {
        background-color: var(--mantine-color-dark-5);
    }
}
