@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.main {
    width: 100%;
    display: flex;
    height: calc(100vh - 80px - 60px - 35px);
}

.sign-title {
    font-family: "Amatic SC", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.game-title {
    font-family: "Amatic SC", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--mantine-color-dark-0);

    &:hover {
        color: white;
    }
}
